@charset "ISO-8859-1";

.langing-logo {
	max-height: 200px;
	margin-bottom: 60px;
	border-color: black;
	border-style: inset;
}

.form-control:focus {
  box-shadow: none;
}

.custom-layout {
	margin: 0;
	background-color: white;
}

.custom-button {
    background-color: #3cc1ac;
    border-color: #3cc1ac;
    color: black;
}