<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<link rel="shortcut icon" type="image/jpg" href="/images/FullColor_IconOnly_1024x1024_72dpi.jpg"/>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		
		<title>RestHub - browse and share RESTFul web apis</title>
		
		<link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/webjars/font-awesome/5.8.1/css/all.css" />
		<link rel="stylesheet" href="/css/styles.css" />
		<link rel="import" href="/webjars/d3-progress-meter/d3-progress-meter.html">
	</head>
	<body>
		<div class="jumbotron d-flex align-items-center min-vh-100 custom-layout">
		  <div class="container text-center">
		  
		  
		  <a href="/">
		  	<img src="/images/FullColor_TextOnly_1024x1024_72dpi.jpg" class="img-fluid langing-logo bottom-margin">
		  </a>
		   	
		   	<div class="card text-center">
			  <div class="card-header">
			    <ul class="nav nav-tabs card-header-tabs">
			      <li class="nav-item">
			        <a class="nav-link info-navbar active" href="#">General information</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link evaluate-navbar" href="#" tabindex="-1">Evaluate it</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link inspect-navbar" href="#" tabindex="-1">Inspect it</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link play-navbar" href="#">Play with it</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link integrate-navbar" href="#" tabindex="-1">Integrate it</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link fork-navbar" href="#" tabindex="-1">Fork it</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link discuss-navbar" href="#" tabindex="-1">Discuss it</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link rate-navbar" href="#" tabindex="-1">Rate it</a>
			      </li>
			    </ul>
			  </div>
			  <div class="card-body">
			  		<!-- General information -->
			  		<div class="content-panel info-panel">
					  	<img class="icon-small bottom-margin" th:attr="src=${webService.serviceProvider.iconUrl}"  alt="Card image cap">
					    <h3 class="card-title" th:text="${webService.name + ', version ' + webService.version}"></h3>
					    <p class="card-text" th:text="${webService.description}"></p>
					    <p class="card-text" th:text="${'Type: ' + webService.type.name}"></p>
					    <p class="card-text" th:text="${'Domain: ' + webService.category.name}"></p>
					    <p class="card-text">
					    	Reference documenation:
					    	<a th:text="${webService.documentationUrl}" th:attr="href=${webService.documentationUrl}"></a>
					    </p>
					    
					    <h5 class="card-title">Powered by</h5>
					    <p class="card-text" th:text="${webService.serviceProvider.name}"></p>
					    <p class="card-text" th:text="${webService.serviceProvider.description}"></p>
					    <p class="card-text" th:text="${webService.serviceProvider.type.name}"></p>			    
					    <a th:attr="href=${webService.serviceProvider.website}" class="btn btn-primary custom-button">Visit website</a>
				  	</div>
				  	
				  	<!-- Evaluate it -->
				  	<div class="content-panel еvaluate-panel" style="display:none;">
				  		<h2 class="bottom-margin">
				  			Last status check:
				  			<span class="badge badge-success" th:if="${webServiceStatus.available}">Online</span>
							<span class="badge badge-danger" th:if="${not webServiceStatus.available}">Offline</span>
						</h2>
						
				  		<d3-progress-meter radius="100" th:attr="percentage=${lastMonthAvailabilityInPercentage/100}, current-text=${lastMonthAvailabilityInPercentage}" 
				  		 	goal-text="%" type-text="Last month availability">
				  		</d3-progress-meter>
				  		
				  		<d3-progress-meter radius="100" th:attr="percentage=${reliabilityPercentage/100}, current-text=${reliabilityPercentage}" 
				  		 	goal-text="%" type-text="Reliability assessment">
				  		</d3-progress-meter>
				  	</div>
				  	
				  	<!-- Play with it -->
				  	<div class="content-panel play-panel" style="display:none;">
				  		<rapi-doc primary-color="#3cc1ac" th:attr="spec-url=${webService.openApiContract}">
				  			<img class="icon-smaller" slot="logo" th:attr="src=${webService.serviceProvider.iconUrl}"/>
				  		</rapi-doc>
				  	</div>
				  	
				  	<!-- Inspect it -->
				  	<div class="content-panel inspect-panel" style="display:none;">
				  		<div id="editor">
					    </div>
				  	</div>
				  	
				  	<!-- Integrate it -->
				  	<div class="content-panel integrate-panel" style="display:none;">
				  		<h5 class="card-title">Generate your SDK client</h5>
				  		<form th:object="${clientSdkGenerationForm}" th:action="@{/ws/client/generate/} + ${webService.id}" class="generate-sdk-form" method="post">
					  		<select th:field="*{language}" class="form-control"  aria-describedby="clientLangHelp">
								<option id="ada"  value="ada">Ada</option>
								<option id="android"  value="android">Android</option>
								<option id="apex"  value="apex">Apex</option>
								<option id="asciidoc"  value="asciidoc">Asciidoc</option>
								<option id="bash"  value="bash">Bash</option>
								<option id="c"  value="c">C</option>
								<option id="clojure"  value="clojure">Clojure</option>
								<option id="cpp-qt5-client"  value="cpp-qt5-client">Cpp-qt5-client</option>
								<option id="cpp-restsdk"  value="cpp-restsdk">Cpp-restsdk</option>
								<option id="cpp-tizen"  value="cpp-tizen">Cpp-tizen</option>
								<option id="csharp"  value="csharp">Csharp</option>
								<option id="csharp-dotnet2"  value="csharp-dotnet2">Csharp-dotnet2</option>
								<option id="csharp-netcore"  value="csharp-netcore">Csharp-netcore</option>
								<option id="cwiki"  value="cwiki">Cwiki</option>
								<option id="dart"  value="dart">Dart</option>
								<option id="dart-jaguar"  value="dart-jaguar">Dart-jaguar</option>
								<option id="dynamic-html"  value="dynamic-html">Dynamic-html</option>
								<option id="eiffel"  value="eiffel">Eiffel</option>
								<option id="elixir"  value="elixir">Elixir</option>
								<option id="elm"  value="elm">Elm</option>
								<option id="erlang-client"  value="erlang-client">Erlang-client</option>
								<option id="erlang-proper"  value="erlang-proper">Erlang-proper</option>
								<option id="flash"  value="flash">Flash</option>
								<option id="go"  value="go">Go</option>
								<option id="go-experimental"  value="go-experimental">Go-experimental</option>
								<option id="groovy"  value="groovy">Groovy</option>
								<option id="haskell-http-client"  value="haskell-http-client">Haskell-http-client</option>
								<option id="html"  value="html">Html</option>
								<option id="html2"  value="html2">Html2</option>
								<option id="java"  value="java">Java</option>
								<option id="javascript"  value="javascript">Javascript</option>
								<option id="javascript-closure-angular"  value="javascript-closure-angular">Javascript-closure-angular</option>
								<option id="javascript-flowtyped"  value="javascript-flowtyped">Javascript-flowtyped</option>
								<option id="jaxrs-cxf-client"  value="jaxrs-cxf-client">Jaxrs-cxf-client</option>
								<option id="jmeter"  value="jmeter">Jmeter</option>
								<option id="kotlin"  value="kotlin">Kotlin</option>
								<option id="lua"  value="lua">Lua</option>
								<option id="nim"  value="nim">Nim</option>
								<option id="objc"  value="objc">Objc</option>
								<option id="ocaml"  value="ocaml">Ocaml</option>
								<option id="openapi"  value="openapi">Openapi</option>
								<option id="openapi-yaml"  value="openapi-yaml">Openapi-yaml</option>
								<option id="perl"  value="perl">Perl</option>
								<option id="php"  value="php">Php</option>
								<option id="powershell"  value="powershell">Powershell</option>
								<option id="python"  value="python">Python</option>
								<option id="python-experimental"  value="python-experimental">Python-experimental</option>
								<option id="r"  value="r">R</option>
								<option id="ruby"  value="ruby">Ruby</option>
								<option id="rust"  value="rust">Rust</option>
								<option id="scala-akka"  value="scala-akka">Scala-akka</option>
								<option id="scala-gatling"  value="scala-gatling">Scala-gatling</option>
								<option id="scala-httpclient-deprecated"  value="scala-httpclient-deprecated">Scala-httpclient-deprecated</option>
								<option id="scalaz"  value="scalaz">Scalaz</option>
								<option id="swift2-deprecated"  value="swift2-deprecated">Swift2-deprecated</option>
								<option id="swift3-deprecated"  value="swift3-deprecated">Swift3-deprecated</option>
								<option id="swift4"  value="swift4">Swift4</option>
								<option id="typescript-angular"  value="typescript-angular">Typescript-angular</option>
								<option id="typescript-angularjs"  value="typescript-angularjs">Typescript-angularjs</option>
								<option id="typescript-aurelia"  value="typescript-aurelia">Typescript-aurelia</option>
								<option id="typescript-axios"  value="typescript-axios">Typescript-axios</option>
								<option id="typescript-fetch"  value="typescript-fetch">Typescript-fetch</option>
								<option id="typescript-inversify"  value="typescript-inversify">Typescript-inversify</option>
								<option id="typescript-jquery"  value="typescript-jquery">Typescript-jquery</option>
								<option id="typescript-node"  value="typescript-node">Typescript-node</option>
								<option id="typescript-rxjs"  value="typescript-rxjs">Typescript-rxjs</option>
							</select>
							<small id="clientLangHelp" class="form-text text-muted bottom-margin">Specify the language of your choice</small>
							<button type="submit" class="btn custom-button">Download SDK</button>
				  		</form>
				  	</div>
				  	
				  	<!-- Fork it -->
				  	<div class="content-panel fork-panel" style="display:none;">
				  		<h5 class="card-title">Generate your server stub</h5>
				  		<form th:object="${serverStubGenerationForm}" th:action="@{/ws/server/generate/} + ${webService.id}" class="generate-server-form" method="post">
					  		<select th:field="*{framework}" class="form-control"  aria-describedby="serverFrameworkHelp">
								<option id="ada-server"  value="ada-server">Ada-server</option>
								<option id="aspnetcore"  value="aspnetcore">Aspnetcore</option>
								<option id="cpp-pistache-server"  value="cpp-pistache-server">Cpp-pistache-server</option>
								<option id="cpp-qt5-qhttpengine-server"  value="cpp-qt5-qhttpengine-server">Cpp-qt5-qhttpengine-server</option>
								<option id="cpp-restbed-server"  value="cpp-restbed-server">Cpp-restbed-server</option>
								<option id="csharp-nancyfx"  value="csharp-nancyfx">Csharp-nancyfx</option>
								<option id="erlang-server"  value="erlang-server">Erlang-server</option>
								<option id="fsharp-functions"  value="fsharp-functions">Fsharp-functions</option>
								<option id="fsharp-giraffe-server"  value="fsharp-giraffe-server">Fsharp-giraffe-server</option>
								<option id="go-gin-server"  value="go-gin-server">Go-gin-server</option>
								<option id="go-server"  value="go-server">Go-server</option>
								<option id="graphql-nodejs-express-server"  value="graphql-nodejs-express-server">Graphql-nodejs-express-server</option>
								<option id="haskell"  value="haskell">Haskell</option>
								<option id="java-inflector"  value="java-inflector">Java-inflector</option>
								<option id="java-msf4j"  value="java-msf4j">Java-msf4j</option>
								<option id="java-pkmst"  value="java-pkmst">Java-pkmst</option>
								<option id="java-play-framework"  value="java-play-framework">Java-play-framework</option>
								<option id="java-undertow-server"  value="java-undertow-server">Java-undertow-server</option>
								<option id="java-vertx"  value="java-vertx">Java-vertx</option>
								<option id="jaxrs-cxf"  value="jaxrs-cxf">Jaxrs-cxf</option>
								<option id="jaxrs-cxf-cdi"  value="jaxrs-cxf-cdi">Jaxrs-cxf-cdi</option>
								<option id="jaxrs-cxf-extended"  value="jaxrs-cxf-extended">Jaxrs-cxf-extended</option>
								<option id="jaxrs-jersey"  value="jaxrs-jersey">Jaxrs-jersey</option>
								<option id="jaxrs-resteasy"  value="jaxrs-resteasy">Jaxrs-resteasy</option>
								<option id="jaxrs-resteasy-eap"  value="jaxrs-resteasy-eap">Jaxrs-resteasy-eap</option>
								<option id="jaxrs-spec"  value="jaxrs-spec">Jaxrs-spec</option>
								<option id="kotlin-server"  value="kotlin-server">Kotlin-server</option>
								<option id="kotlin-spring"  value="kotlin-spring">Kotlin-spring</option>
								<option id="kotlin-vertx"  value="kotlin-vertx">Kotlin-vertx</option>
								<option id="nodejs-express-server"  value="nodejs-express-server">Nodejs-express-server</option>
								<option id="nodejs-server-deprecated"  value="nodejs-server-deprecated">Nodejs-server-deprecated</option>
								<option id="php-laravel"  value="php-laravel">Php-laravel</option>
								<option id="php-lumen"  value="php-lumen">Php-lumen</option>
								<option id="php-silex"  value="php-silex">Php-silex</option>
								<option id="php-slim"  value="php-slim">Php-slim</option>
								<option id="php-symfony"  value="php-symfony">Php-symfony</option>
								<option id="php-ze-ph"  value="php-ze-ph">Php-ze-ph</option>
								<option id="python-aiohttp"  value="python-aiohttp">Python-aiohttp</option>
								<option id="python-blueplanet"  value="python-blueplanet">Python-blueplanet</option>
								<option id="python-flask"  value="python-flask">Python-flask</option>
								<option id="ruby-on-rails"  value="ruby-on-rails">Ruby-on-rails</option>
								<option id="ruby-sinatra"  value="ruby-sinatra">Ruby-sinatra</option>
								<option id="rust-server"  value="rust-server">Rust-server</option>
								<option id="scala-finch"  value="scala-finch">Scala-finch</option>
								<option id="scala-lagom-server"  value="scala-lagom-server">Scala-lagom-server</option>
								<option id="scala-play-server"  value="scala-play-server">Scala-play-server</option>
								<option id="scalatra"  value="scalatra">Scalatra</option>
								<option id="spring"  value="spring">Spring</option>
							</select>
							<small id="serverFrameworkHelp" class="form-text text-muted bottom-margin">Specify the framework of your choice</small>
							<button type="submit" class="btn custom-button">Download Stub</button>
				  		</form>
				  	</div>`
				  	
				  	<!-- Discuss it -->
				  	<div class="content-panel discuss-panel" style="display:none;">
				  		<div class="card bottom-margin">
						  <div class="card-body">
						    This is some text within a card body.
						  </div>
						</div>
												
						<div class="card bottom-margin">
						  <div class="card-body">
						    This is some text within a card body.
						  </div>
						</div>
				  	</div>
				  	
				  	<!-- Rate it -->
				  	<div class="content-panel rate-panel" style="display:none;">
				  		<h5 class="bottom-margin">
				  			Rate this API:
						</h5>
						
						<div class="alert alert-primary api-rated" role="alert" style="display:none;">
 							 Thank you for your feedback!
						</div>
						
						<div class="container api-rating">
  							<span id="rateMe1"></span>
						</div>
				  	</div>
				  	
				  	<input type="hidden" id="contract-url" th:value="${webService.openApiContract}"></input>
				  	<input type="hidden" id="web-service-id" th:value="${webService.id}"></input>
			  </div>
			</div>
			
		  </div>
		</div>
		
            				
		<script type="text/javascript" src="/webjars/jquery/3.4.0/jquery.min.js"></script>
		<script type="text/javascript" src="/rating-scripts/popper.min.js" charset="utf-8"></script>
		<script type="text/javascript" src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/scripts/api-details.js"></script>
		<script type="text/javascript" src="/ace-scripts/ace.js" charset="utf-8"></script>
		<script type="text/javascript" src="/rating-scripts/rating.js" charset="utf-8"></script>
		<script type="text/javascript" src="/jquery-cookie-scripts/jquery.cookie.js" charset="utf-8"></script>
		<script type="module" src="/rapidoc-scripts/rapidoc-min.js"></script>
	</body>