<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<link rel="shortcut icon" type="image/jpg" href="/images/FullColor_IconOnly_1024x1024_72dpi.jpg"/>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		
		<title>RestHub - browse and share RESTFul web apis</title>
		
		<link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/webjars/font-awesome/5.8.1/css/all.css" />
		<link rel="stylesheet" href="/css/styles.css" />
	</head>
	<body>
		<div class="jumbotron d-flex align-items-center min-vh-100 custom-layout">
		  <div class="container text-center">
		   	<img src="images/FullColor_1024x1024_72dpi.jpg" class="img-fluid langing-logo bottom-margin">
			
			<!-- Search form -->
			<form class="bottom-margin search-api-form" th:object="${webServiceSearchForm}" th:action="@{/search}"  method="post">
				<div class="input-group mb-4 border rounded-pill p-1">
		            <div class="input-group-prepend border-0">
		              <button id="button-addon4" type="button" class="btn btn-link text-info"><i class="fa fa-search"></i></button>
		            </div>
		            <input type="search" th:field="*{searchTerm}" placeholder="Search apis..." aria-describedby="button-addon4" class="form-control bg-none border-0">
	            </div>
	          
	            <div class="container">
		          <div class="row">
		          	<div class="col-md-4">
		          		<label for="apiCategory">Api category</label>
						 <select class="form-control" th:field="*{apiCategory}" aria-describedby="categoryFilterHelp">
							<option th:each="category : ${webServiceCategories}" th:text="${category.name}" th:value="${category}"></option>
						</select>
						<small id="categoryFilterHelp" class="form-text text-muted">Specify API domain</small>
		          	</div>
		          	
		          	<div class="col-md-4">
		          		<label for="apiType">Api Deployment Type</label>
						 <select class="form-control" th:field="*{apiType}" aria-describedby="typeFilterHelp">
							<option th:each="type : ${webServiceTypes}" th:text="${type.name}" th:value="${type}"></option>
						</select>
						<small id="typeFilterHelp" class="form-text text-muted">Specify API type</small>
		          	</div>
		          	
		          	<div class="col-md-4">
		          		<label for="serviceProviderType">Service provider type</label>
						 <select class="form-control" th:field="*{serviceProviderType}" aria-describedby="typeFilterHelp">
							<option th:each="type : ${serviceProviderTypes}" th:text="${type.name}" th:value="${type}"></option>
						</select>
						<small id="typeFilterHelp" class="form-text text-muted">Specify provider type</small>
		          	</div>
		          </div>
				</div>
			</form>
			
			<!-- Search form buttons -->
			<div class="bottom-margin">
				<a href="#" class="btn custom-button btn-lg active btn-search" role="button" aria-pressed="true">Search</a>	
				<a href="#" class="btn custom-button btn-lg active" role="button" aria-pressed="true" data-toggle="modal" data-target="#add-api-modal">Add API</a>	
			</div>
			
			<!-- Search results grid -->
			<div class="card-columns" th:if="${webServicesList != null and not #lists.isEmpty(webServicesList)}">
				<div class="card" style="width: 17rem;" th:each="webService : ${webServicesList}">
				  	<img class="card-img-top" th:attr="src=${webService.serviceProvider.iconUrl}"  alt="Card image cap">
				  	<div class="card-body">
				    	<h5 class="card-title" th:text="${webService.name}"></h5>
				    	<p class="card-text" th:text="${webService.shortDescription}">.</p>
				    	<a th:attr="href=${'/api/details/' + webService.id}" class="btn btn-primary custom-button">Check it out</a>
			  		</div>
				</div>
			</div>
			
			<!-- Modal -->
			<div class="modal fade bd-example-modal-lg" id="add-api-modal" tabindex="-1" role="dialog" aria-labelledby="add-api-modal-label" aria-hidden="true">
			  <div class="modal-dialog modal-lg" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h3 class="modal-title" id="add-api-modal-label"></h3>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
				        <form th:object="${webServiceForm}" th:action="@{/addApi}" class="add-api-form" method="post">
				        
				        	<!-- Service provider section -->
					        <div class="service-provider-form">
					          
							  <div class="form-group">
							    <label for="serviceProviderName">Name</label>
							    <input type="text" class="form-control" th:field="*{serviceProviderName}" aria-describedby="serviceProviderNameHelp" placeholder="European Central Bank">
							    <small id="serviceProviderNameHelp" class="form-text text-muted">This is the service provider name</small>
							  </div>
							  <div class="form-group">
							    <label for="serviceProviderDescription">Description</label>
							    <input type="text" class="form-control" th:field="*{serviceProviderDescription}" aria-describedby="serviceProviderDescHelp" placeholder="European Central Bank IT HUB services">
							    <small id="serviceProviderDescHelp" class="form-text text-muted">This is service provider short description</small>
							  </div>
							  <div class="form-group">
							    <label for="serviceProviderType">Type</label>
							    <select class="form-control" th:field="*{serviceProviderType}" aria-describedby="serviceProviderTypeHelp">
							    	<option th:each="type : ${serviceProviderTypes}" th:text="${type.name}" th:value="${type}"></option>
							    </select>
							    <small id="serviceProviderTypeHelp" class="form-text text-muted">This is the type of the service provider</small>
							  </div>
							  <div class="form-group">
							    <label for="serviceProviderWebsite">Website</label>
							    <input type="text" class="form-control" th:field="*{serviceProviderWebsite}" aria-describedby="serviceProviderWebsitecHelp" placeholder="https://www.ecb.europa.eu/home/html/index.en.html">
							    <small id="serviceProviderWebsitecHelp" class="form-text text-muted">Providing your website makes your API more reliable</small>
							  </div>
							  <div class="form-group">
							    <label for="serviceProviderNameIconUrl">Icon</label>
							    <input type="text" class="form-control" th:field="*{serviceProviderNameIconUrl}" aria-describedby="serviceProviderIconHelp" placeholder="https://avatars0.githubusercontent.com/u/7658037?s=400&v=4">
							    <small id="serviceProviderIconHelp" class="form-text text-muted">URL for your company logo. This helps making your API more recognizable</small>
							  </div>
					        </div>
					        
					        <!-- Web service section -->  
					        <div class="web-service-form">
							  
							  <div class="form-group">
							    <label for="apiName">Name</label>
							    <input type="text" class="form-control" th:field="*{apiName}" aria-describedby="webApiNameHelp" placeholder="Currency conversion API">
							    <small id="webApiNameHelp" class="form-text text-muted">This is the name of your API</small>
							  </div>
							  <div class="form-group">
							    <label for="apiShortDescription">Short description</label>
							    <input type="text" class="form-control" th:field="*{apiShortDescription}" aria-describedby="webApiShortDescHelp" placeholder="Exchange rates API for 30+ currencies">
							    <small id="webApiShortDescHelp" class="form-text text-muted">This is short description of your API</small>
							  </div>
							  <div class="form-group">
							    <label for="apiDescription">Description</label>
							    <input type="text" class="form-control" th:field="*{apiDescription}" aria-describedby="webApiDescHelp" placeholder="More detailed description">
							    <small id="webApiDescHelp" class="form-text text-muted">This is detailed description of your API</small>
							  </div>
							  <div class="form-group">
							    <label for="apiCategory">Category</label>
							    <select class="form-control" th:field="*{apiCategory}" aria-describedby="webApiCategoryHelp">
							    	<option th:each="category : ${webServiceCategories}" th:text="${category.name}" th:value="${category}"></option>
							    </select>
							    <small id="webApiCategoryHelp" class="form-text text-muted">This is the domain in which your API operates</small>
							  </div>
							  <div class="form-group">
							    <label for="apiType">Type</label>
							    <select class="form-control" th:field="*{apiType}" aria-describedby="webApiTypeHelp">
							    	<option th:each="type : ${webServiceTypes}" th:text="${type.name}" th:value="${type}"></option>
							    </select>
							    <small id="webApiTypeHelp" class="form-text text-muted">This is the type of the service provider</small>
							  </div>
							  <div class="form-group">
							    <label for="apiVersion">Version</label>
							    <input type="text" class="form-control" th:field="*{apiVersion}" aria-describedby="webApiVersionHelp" placeholder="1.0.0">
							    <small id="webApiVersionHelp" class="form-text text-muted">This is the version of your API</small>
							  </div>
							  <div class="form-group">
							    <label for="apiDocUrl">Reference documentation</label>
							    <input type="text" class="form-control" th:field="*{apiDocUrl}" aria-describedby="webApiVersionDocHelp" placeholder="https://developers.google.com/docs/api/reference/rest">
							    <small id="webApiVersionDocHelp" class="form-text text-muted">This is URL to your API reference documentation</small>
							  </div>
							  <div class="form-group">
							    <label for="apiSpecUrl">Spec URL</label>
							    <input type="text" class="form-control" th:field="*{apiSpecUrl}" aria-describedby="webApiSpecHelp" placeholder="https://petstore.swagger.io/v2/swagger.json">
							    <small id="webApiSpecHelp" class="form-text text-muted">This is the URL to your OpenAPI 3.0 specification in either YAML or JSON format</small>
							  </div>
					        </div>
					        					        				
						</form>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary btn-cancel" data-dismiss="modal">Cancel</button>
			        <button type="button" class="btn custom-button btn-back">Back</button>
			        <button type="button" class="btn custom-button btn-next">Next</button>
			        <button type="submit" class="btn custom-button btn-add-api">Add API</button>
			      </div>
			    </div>
			  </div>
			</div>	            
			
		  </div>
		</div>
		
            				
		<script type="text/javascript" src="/webjars/jquery/3.4.0/jquery.min.js"></script>
		<script type="text/javascript" src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/scripts/index.js"></script>
	</body>